---
layout: page
random-img: true
description: "只要有足够的意义和理由，突破已有的原则就可以认为是一种创新"
---

{% if site.data.news %}
<div id="news">
    <ul>
        <li><b>博客已累计录入 {{ paginator.total_posts }} 篇文章</b></li>
        {% for line in site.data.news %}
        <li><b>{{ line }}</b></li>
        {% endfor %}
    </ul>
</div>
<br/>
{% endif %}

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        {% if post.hot %}
        <h2 id="hot" class="post-title">
            {{ post.title }}
        </h2>
        {% else %}
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% endif %}
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
