<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->

<body id="body-hidden" ontouchstart="">

    {% include nav.html %}
    <div id="reactive-bg">
        <canvas id="reactive-bg-canvas" style="position: absolute; margin: 0;padding: 0"></canvas>
        {{ content }}
    </div>
    {% include footer.html %}



<!-- Image to hack wechat -->
<img src="{{ site.cdnurl }}/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
